<div class='navbar'>
  <span class='nav_item'>
    trang chủ
  </span>
  <span class='nav_item'>
    posts
  </span>
  <span class='nav_loggin_inform'>
    @if(username)
    Hi, {{username}}
    @else
    you are not loggin
    @endif
  </span>

</div>
