@layout('layouts.main_layout')

@section('custom_style')
{{style('style/mainpage.css')}}
@endsection

@section('body')
<p>
username {{username}}<br>
bias
</p>
@include('components.profile.bias')
@endsection

@section('custom_script')

@endsection
