@layout('layouts.main_layout')

@section('custom_style')
{{style('style/mainpage.css')}}
@endsection

@section('body')

@include('components.profile.user_card')
@include('components.profile.bias')
@include('components.profile.counters')
@endsection

@section('custom_script')

@endsection
